<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_header') %>
</head>

<body>

    <%- include("../partials/_nav")  %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <%- include("../partials/_category-menu", {categories, selectedCategory})  %>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3"><%= title %></h1>

                <% if (blogs.length == 0) { %>
                <%- include("../partials/_no-product")  %>
                <% } %>


                <% blogs.forEach(blog => { %>
                <%- include("../partials/_blog-card", blog)  %>
                <% }) %>

                <% if (blogs.length > 3) { %>
                <%- include("../partials/_pagination")  %>
                <% } %>

            </div>
        </div>
    </div>

</body>

</html>